{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no">
    <title>Base</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'learning_logs:index' %}">Learning Log</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
          <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'learning_logs:topics' %}">Topics</a>
              {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'users:logout' %}">Logout</a>
              {% else %}
                    <a class="nav-item nav-link" href="{% url 'users:login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'users:register' %}">Register</a>
              {% endif %}
          </div>
          {% if user.is_authenticated %}
            <span class="navbar-text">
                Hello, {{ user.username }}
            </span>
          {% endif %}
      </div>
    </nav>
    {% block content %}{% endblock content %}
</body>
</html>