<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
</head>
<body>
    {% extends "learning_logs/base.html" %}

    {% block content %}

        <h1 style="margin: 0px;text-align: center;">Topics</h1>
        <hr/>
        <div style="margin: 0px;text-align: center;">
           <a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>
        </div>

        <div class="container">
            <ul>
                {% for topic in topics %}
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title" style="text-align: center;">
                                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
                            </div>
                            <a class="card-link" href="#">Edit</a>
                            <a class="card-link" href="{% url 'learning_logs:delete_topic' topic.id %}">Delete</a>
                        </div>
                    </div>
                {% empty %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">No topics have been added yet.</h4>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% endblock content %}
</body>
</html>