<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>
</head>
<body>
    {% extends 'learning_logs/base.html' %}
    {% block content %}
        <h1 style="text-align:center">{{ topic }}</h1>
        <br><hr>
        <p><a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a></p>
            {% for entry in entries %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">{{ entry.date_added|date:'M d, Y H:i' }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ entry.text|linebreaks }}</p>
                    </div>
                    <p><a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a></p>
                </div>
            {% empty %}
                <p>There are no entries for this topic yet.</p>
            {% endfor %}
    {% endblock content %}
</body>
</html>