<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% extends "learning_logs/base.html" %}
    {% block content %}

        <!-- load bootstrap -->
        {% load bootstrap4 %}

        <!-- display error if form is incorrect -->
        {% if form.errors %}
            <p>username and password didn't match. Please try again.</p>
        {% endif %}

        <h2>Log in to your account.</h2>

        <!-- login view will process the form so it will be our action argument -->
        <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}

            <button name="submit">Log in</button>
            <!-- we include a hidden form element 'next'; the value argument tells Django
            where to redirect the user after they’ve logged in successfully. In this case,
            we send the user back to the home page. -->
            <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
        </form>

    {% endblock content %}

</body>
</html>