<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    {% extends "learning_logs/base.html" %}
    {% block content %}

        {% load bootstrap4 %}
        <form method="POST" action="{% url 'users:register' %}">
            {% csrf_token %}
            {% bootstrap_form form %}

            <button name="submit">Register</button>
            <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
        </form>
    {% endblock content %}
</body>
</html>